.jumbotron{
  background-image: url(img/Pwr_rangers4.png);
  background-repeat: no-repeat;
}
/*#album{
	background-image: url(img/machines.png);
	background-size: auto;
	background-repeat: no-repeat;
	z-index: -1;
	position: relative;
}
*/